<main>
    <div class="container">
        <ul class="cards">
            <li class="cards__item">
                <img class="cards__image" src="./images/eurovision.jpg" alt="" />
                <h2 class="cards__title">Eurovison 2021 finals!</h2>
                <p class="cards__date">2021-05-13</p>
                <p class="cards__place"><span class="cards__pin">Palace of Ukraine</span></p>
            </li>
            <li class="cards__item">
                <img class="cards__image" src="./images/eurovision.jpg" alt="" />
                <h2 class="cards__title">Eurovison 2021 finals!</h2>
                <p class="cards__date">2021-05-13</p>
                <p class="cards__place"><span class="cards__pin">Palace of Ukraine</span></p>
            </li>
            <li class="cards__item">
                <img class="cards__image" src="./images/eurovision.jpg" alt="" />
                <h2 class="cards__title">Eurovison 2021 finals!</h2>
                <p class="cards__date">2021-05-13</p>
                <p class="cards__place"><span class="cards__pin">Palace of Ukraine</span></p>
            </li>
            <li class="cards__item">
                <img class="cards__image" src="./images/eurovision.jpg" alt="" />
                <h2 class="cards__title">Eurovison 2021 finals!</h2>
                <p class="cards__date">2021-05-13</p>
                <p class="cards__place"><span class="cards__pin">Palace of Ukraine</span></p>
            </li>
            <li class="cards__item">
                <img class="cards__image" src="./images/eurovision.jpg" alt="" />
                <h2 class="cards__title">Eurovison 2021 finals!</h2>
                <p class="cards__date">2021-05-13</p>
                <p class="cards__place"><span class="cards__pin">Palace of Ukraine</span></p>
            </li>
            <li class="cards__item">
                <img class="cards__image" src="./images/eurovision.jpg" alt="" />
                <h2 class="cards__title">Eurovison 2021 finals!</h2>
                <p class="cards__date">2021-05-13</p>
                <p class="cards__place"><span class="cards__pin">Palace of Ukraine</span></p>
            </li>
        </ul>
    </div>
</main>