
<section class="pagination-section">
    <div class="pagination">
        <span class="btn prev">&#10140</span>
      <ul class="pagination__list">
        <li class="num-first pagination__item"><span>1</span></li>
        <li class="dots pagination__item"><span>...</span></li>
        <li class="num pagination__item"><span>5</span></li>
        <li class="num pagination__item"><span>6</span></li>
        <li class="num btn__active pagination__item"><span>7</span></li>
        <li class="num pagination__item"><span>8</span></li>
        <li class="num pagination__item"><span>9</span></li>
        <li class="dots pagination__item"><span>...</span></li>
        <li class="num-last pagination__item"><span>20</span></li>
      </ul>
        <span class="btn next">&#10140</span>
    </div>
</section>

<section class = "copyright-section">
    <footer  class="footer" id="footer"> 
        <p class="footer__content">
            © 2022 | All Rights Reserved | Developed with 
            <span class="heart-icon">&#x2764;</span> by GoIT Students
        </p>
    </footer>
</section> 