<header class="header">
    <div class="container">
        <div class="logo">
            <a href="#">
                 <svg class="logo-icon">
                    <use href="../images/symbol-defs.svg#logo"></use>
                 </svg>
            </a>
        </div>
        <h1 class="header-title">FIND BEST EVENTS AROUND THE WORLD</h1>
        <div class="header-field">
            <input
                type="text"
                name="search-event"
                placeholder="Start searching"
                class="header-input search-input"
            />
                    <svg clas="input-icon" width="12px" height="12px">
                        <use href="../images/symbol-defs.svg#icon-search"></use>
                    </svg>
        </div>
        <div class="header-field">
             <input
                type="text"
                name="search-event"
                placeholder="Choose country"
                class="header-input choose-country-input"
            />
                    <svg clas="input-icon" width="15px" height="10px">
                        <use href="../images/symbol-defs.svg#icon-polygon"></use>
                    </svg>
        </div>
        <div class="header-gradient"></div>
    </div>
</header>