<div class="main__backdrop is-hidden" data-team-modal>
  <div class="modal team" data-team-modal-window>
    <button class="modal__close" data-team-modal-close>
      <svg class="modal__close-btn">
        <use href="/src/images/close.svg#icon-close"></use>
      </svg>
    </button>
    <div class="team__wrapper">
      <div class="team__title">
        <p class="team__text">Developed with<span class="team__icon">&#9829;</span></p>
        <p class="team__text">by GoIT Students</p>
      </div>
      <ul class="students__wrapper">
        <li class="student">
          <a href="https://www.linkedin.com/in/pgasz/"
          class="student__linkedin"
          target="_blank"
          rel="noopener"
          >  
            <img
              class="student__img"
              src="/src/images/footer/Paweł-Gash.jpg"
              alt="student profile picture"
            />
            <p class="student__name">Paweł "Gash" Gasz</p>
          </a>
        </li>
        <li class="student">
          <a href="https://www.linkedin.com/in/agnieszka-janowska-233b2b255/"
          class="student__linkedin"
          target="_blank"
          rel="noopener"
          >
            <img
              class="student__img"
              src="/src/images/footer/Agnieszka-Janowska.jpg"
              alt="student profile picture"
            />
            <p class="student__name">Agnieszka Janowska</p>
          </a>
        </li>
        <li class="student">
          <a href="#">
            <img
              class="student__img"
              src="/src/images/footer/Miłosz-Pleśniak.png"
              alt="student profile picture"
            />
            <p class="student__name">Miłosz Pleśniak</p>
          </a>
        </li>
        <li class="student">
          <a href="#">
            <img
              class="student__img"
              src="/src/images/footer/Bartek-Jedliczka.png"
              alt="student profile picture"
            />
            <p class="student__name">Bartek Jedliczka</p>
          </a>
        </li>
        <li class="student">
          <a href="#">
            <img
              class="student__img"
              src="/src/images/footer/Magda-Święcka.png"
              alt="student profile picture"
            />
            <p class="student__name">Magda Święcka</p>
          </a>
        </li>
        <li class="student">
          <a href="#">
            <img
              class="student__img"
              src="/src/images/footer/Patrycja-Lamik.png"
              alt="student profile picture"
            />
            <p class="student__name">Patrycja Lamik</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
