.background {
  background-color: #0e0e0e;
  background-image: url('../images/background/bg-body-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  @media screen and (min-width: 768px) {
    background-image: url('../images/background/background-tablet.svg');
  }
  @media screen and (min-width: 1024px) {
    background-image: url('../images/background/background.svg');
  }
}
