.footer {
    display: flex;
    justify-content: center;
    padding: 60px 34px 27px 34px;

    &__content {
    text-align: center;
    color: #939393;
    font-size: 14px;
    line-height: 1.22;
    }   
     
    &__link {
    color: inherit;
    } 
}

.heart-icon {
    color: red;
}

@media screen and (min-width: 768px) {
    .footer {
    padding-top: 80px;
    padding-bottom: 18px;
    margin-left: auto;
    margin-right: auto;

    &__content {
        font-size: 16px;
    }
}
}

@media screen and (min-width: 1024px)  {
    .footer {
    padding-bottom: 19px;
    &__content {
        font-size: 16px;
    }
}
}