.header__title {
  display: block;
  width: 212px;
  color: rgba(220, 86, 197, 1);
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 353px;
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 37px;
  }
  @media screen and (min-width: 1024px) {
    width: 600px;
    margin-bottom: 52px;
    font-size: 50px;
    line-height: 61px;
  }
}

.header__input {
  padding: 10px 50px 10px 30px;
  width: 270px;
  height: 40px;
  border: 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  outline: none;

}

.input__icon {
  position: absolute;
  pointer-events: none;
  top: 15px;
  right: 30px;
  fill: #939393;
}
